/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EFF1E5;
	/*background:url(images/bodybg1.jpg)*/
}
.cbox
{
	border: solid 2px green;
}
.track_ti
{
font:Rockwell;
font-size:24px;
font-style:normal;
font-weight:bold;
color:#ae6c1a;
text-align:center;
}
.track_code
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
font-weight:bold;
color:#113037;

}
.track_small
{
font:Rockwell;
font-size:12px;
font-style:normal;
font-weight:bold;
color:#90a0a5;
}
.for
{
width: 290px;
padding: 4px 5px;
border: 0px;
font-size: 1.5em;
background-color: #E9ECC4;
}
.submit
{
background:url(images/submit.jpg) no-repeat;
width:132px;
height:50px;
border:none;
}